{
  "initial_working_directory": "~",
  "restore_last_project": true,
  "restore_source_documents": true,
  "load_workspace": true,
  "save_workspace": "ask",
  "always_save_history": true,
  "remove_history_duplicates": false,
  "wrap_tab_navigation": true,
  "check_for_updates": true
}
