# ~/.config/fish/conf.d/90-system-update.fish
# Unified system update command

function system-update -d "Update all system packages, tools, and runtimes"
    bash "$HOME/SystemConfig/scripts/system-update.sh" $argv
end
