# 01-path.fish — PATH construction

# Homebrew
if test -x {{ .homebrew.prefix }}/bin/brew
    eval ({{ .homebrew.prefix }}/bin/brew shellenv)
end

# User paths
{{- range .paths.prepend }}
fish_add_path --prepend "{{ . }}"
{{- end }}
